<div class="container" id="main-container">

    <header>
        <div class="row">
            <div class="col">
                <div>
                    <h1 class="app-title">Burger Diary</h1>
                    <h4 class="app-description">An app dedicated to keeping track of all of your favorite burgers</h4>
                    <div class="app-instructions" id="instructions">
                        <span>Enter.</span>
                        <span>Save.</span>
                        <span>Eat Now.</span>
                        <span>Eat Later.</span>
                        <span>Repeat.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main id="main-content">

        <section id="create-burger">
            <div class="row">
                <div class="col-lg-8">
                    <form class="create-burger-form">
                        <div class="input-group create-burg-div">
                            <input type="text" class="form-control" id="userInputBurger" name="burgerName" placeholder="Burger Name..."
                                aria-label="Burger Name..." aria-describedby="submit-btn">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary text-white" type="submit" id="submit-btn">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section class="all-burgers" id="view-burgers">
            <div class="row">

                <div class="col" id="stored-burgers">
                    <div class="card border-dark">
                        <div class="card-header text-dark">Burgers to Eat</div>
                        <div class="card-body text-dark">

                            {{#each burgers}}
                            {{!-- #unless because values burgers with devoured=false return "falsy" values --}}
                            {{#unless devoured}}
                            {{!-- Calling partial parameter: will render the 'change-status' btn based on conditional
                            statement --}}
                            {{!-- In this case, it should show 'Eat Now!' button --}}
                            {{> burgers/burger-status devourstate=true}}
                            {{/unless}}
                            {{/each}}

                        </div>
                    </div>
                </div>

                <div class="col" id="devoured-burgers">
                    <div class="card border-dark">
                        <div class="card-header text-dark">Devoured Burgers</div>
                        <div class="card-body text-dark">

                            {{#each burgers}}
                            {{!-- if helper because we expect these burgers now be devoured=true (not falsy)--}}
                            {{#if devoured}}
                            {{!-- Calling partial parameter: will render the 'change-status' btn based on conditional
                            statement --}}
                            {{!-- In this case, it should show 'Eat Again Later!' button --}}
                            {{> burgers/burger-status devourstate=false}}
                            {{/if}}
                            {{/each}}

                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>

</div>

<footer class="footer sticky-footer">
    <div class="container text-center">
        <span>Copyright &copy; 2019 Leah Morris</span>
    </div>
</footer>