html, body {
    height: 100%;
    background-color: black;
    background-image: url("../images/gourmetBurger&Fries.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

body {
    display: flex;
    flex-direction: column;
    color: white;
}

.container {
    flex: 1 0 auto;
}

header {
    margin-top: 2rem;
}

.create-btn-div {
    margin: 1rem 0 1rem 0;
}

.all-burgers {
    margin-top: 2rem;
}

.card {
    background-color: rgba(254, 254, 253, 0.85);
}

.card-body {
    padding: 0;
}

.card-body ul {
    padding: 0;
    margin: 0;
}

.sticky-footer {
    flex-shrink: 0;
    background: none;
    text-align: center;
    font-size: 0.65rem;
    color: white;
}